[Unit]
Description=SecVision
After=syslog.target

[Service]
WorkingDirectory=/home/jetsonman/SecVisionJetson/
ExecStart=/usr/bin/python3 /home/jetsonman/SecVisionJetson/detect_yolo.py
Restart=always
RestartSec=120
User=jetsonman
SyslogIdentifier=secvision_yolo

[Install]
WantedBy=multi-user.target
