[Unit]
Description=SecVision
After=syslog.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 -u /usr/local/bin/secvision/detect_yolo.py
Restart=always
RestartSec=120
User=jetsonman
SyslogIdentifier=secvision
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
