[Unit]
Description=SecVision
After=syslog.target

[Service]
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=placeholder
ExecStart=/usr/bin/python3 placeholder/detect_yolo.py
Restart=always
RestartSec=30
User=suchuser
SyslogIdentifier=secvision_yolo

[Install]
WantedBy=multi-user.target